#calculator-container {
    margin: 20px;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    background-color: #1795d4;
}

#result {
    width: 100%;
}

#result > input {
    text-align: right;
}

#logo {
    max-height: 30px;
}

#title {
    color: white;
    text-align: right;
}

.visible-error {
    margin-top: 5px;
    color: darkred;
    display: block;
}

.hidden-error {
    display: none;
}

@media (min-width: 992px) {
    #calculator-container {
        margin-left: auto;
        margin-right: auto;
        border: 1px solid lightgray;
        width: 50%;
        border-radius: 0.5rem;
    }
}
